In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [7]:
#키, 몸무게, 레이블이 적힌 csv 파일 읽어 들이기 -(1)
csv = pd.read_csv("bmi.csv")

In [8]:
#데이터 정규화 -(2)
csv["height"]=csv["height"]/200
csv["weight"]=csv["weight"]/100

In [13]:
#레이블을 배열로 변환하기 -(3)
# thin=(1,0,0) / normal =(0,1,0) / 
bclass = {"thin":[1,0,0], "normal":[0,1,0], "fat":[0,0,1]}
csv["label_pat"] = csv['label'].apply(lambda x : np.array(bclass[x]))

In [14]:
#테스트를 위한 데이터 분류 -(4)
test_csv = csv[15000:20000]
test_pat = test_csv[["weight", "height"]]
test_ans = list(test_csv["label_pat"])

In [15]:
test_pat

       weight  height
15000    0.68   1.000
15001    0.76   0.805
15002    0.40   0.830
15003    0.49   0.695
15004    0.47   0.615
...       ...     ...
19995    0.60   0.945
19996    0.45   0.890
19997    0.36   0.810
19998    0.74   0.870
19999    0.55   0.760

[5000 rows x 2 columns]

In [16]:
test_csv

       height  weight   label  label_pat
15000   1.000    0.68    thin  [1, 0, 0]
15001   0.805    0.76     fat  [0, 0, 1]
15002   0.830    0.40    thin  [1, 0, 0]
15003   0.695    0.49     fat  [0, 0, 1]
15004   0.615    0.47     fat  [0, 0, 1]
...       ...     ...     ...        ...
19995   0.945    0.60    thin  [1, 0, 0]
19996   0.890    0.45    thin  [1, 0, 0]
19997   0.810    0.36    thin  [1, 0, 0]
19998   0.870    0.74  normal  [0, 1, 0]
19999   0.760    0.55  normal  [0, 1, 0]

[5000 rows x 4 columns]

In [ ]:
# ㅐonehot 인코딩 해서 y 값이 3개라서